section.login-container{
    background:$white;
    width:320px;
    margin:0 auto;
    font-size:12px;
    text-align:center;
    position:relative;
    padding:30px;

    h1 {
        font-size:20px;
    }

    .quiet {
        margin-top:20px;
    }
}

[class*='btn-signin']{
    display:block;
    @include border-radius(3px);
    border:1px solid rgba($black,.2);
    width:230px;
    color:$white;
    background:#ccc;
    overflow:hidden;
    margin:10px auto;
    @include box-shadow(-2px -2px 7px rgba($black,.1) inset);
    text-align:left;
    
    .icon,.text{
        background-color:rgba($white,0);
        @include transition(background-color .5s);
    }

    .icon {
        float:left;
        width:35px;
        height:35px;
        border-right:1px solid rgba($white,.2);
        background-repeat:no-repeat;
        background-position:50% 50%;
    }
    .text {
        float:left;
        border-left:1px solid rgba($black, .1);
        padding:10px 15px;
        font-size:12px;
        width:163px;
    }

    &:hover{
        .icon,.text{
            background-color:rgba($white,.2);
        }
    }

    &.btn-signin-facebook{
        background:#3b5998;

        .icon{
            @extend .icons-facebook-24;
            @include sprite-background-position($icons-sprites, facebook-24, 5px, 6px);
        }
    }

    &.btn-signin-twitter{
        background:#00acee;

        .icon{
            @extend .icons-twitter-24;
            @include sprite-background-position($icons-sprites, twitter-24, 6px, 5px);
        }
    }
}

